<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @grupo_demandas.estado %>
</p>

<%= link_to 'Edit', edit_grupo_demandas_path(@grupo_demandas) %> |
<%= link_to 'Back', grupos_demandas_path %>
