<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipo_colaborador.descricao %>
</p>

<%= link_to 'Edit', edit_tipo_colaborador_path(@tipo_colaborador) %> |
<%= link_to 'Back', tipos_colaborador_path %>
