<h1>Editing Anexo Relatorio Colaborador</h1>

<%= render 'form', anexo_relatorio_colaborador: @anexo_relatorio_colaborador %>

<%= link_to 'Show', @anexo_relatorio_colaborador %> |
<%= link_to 'Back', anexo_relatorios_colaborador_path %>
